{{ if .Site.Params.article.showComments | default false }}
  <div class="not-prose">
    <!-- Giscus -->
    {{ if .Site.Params.giscus.repo }}
    <script src="https://giscus.app/client.js"
            data-repo="MongsangGa/MongsangGa.github.io"
            data-repo-id="R_kgDOPVxy-A"
            data-category="General"
            data-category-id="DIC_kwDOPVxy-M4CtnqA"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="ko"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
    {{ end }}
</div>
{{ end }}